* {
	background-color: lightgray;	
}
h1 {
	text-align: center;
	font-size: 40px;
	color: teal;
	padding: 10px;
	border: solid black;
}
h2 {
	margin-left: 150px;
	font-size: 32px;
	color: darkgreen;
}
nav {
	text-align: right;
	margin-right: 20px;
}
#dateToday {
	padding: 10px;
	font-size: 22px;
	text-shadow: 4px 4px 4px darkgreen, -1px -1px 4px darkgreen;
	font-weight: bold;
}
nav h3 {
	font-size: 24px;
	margin-right: 75px;
	color: darkgreen;
}
mark {
	background-color: yellow;
	color: black;
}
nav>ul {
	display: flex;
	font-size: 22px;
	list-style-type:none;
	justify: center;
	float: right;
	padding-right: 35px;
	gap: 5px;
	border: dotted black;
}
table, tr, th, td {
	border: 1px solid blue;
}
.addr {
	margin-left: 15px;
	font-family: 'Brush Script MT';
}
form {
	display: flex;
	text-align: center;
	margin-left: 140px;
	justify-content: center;
	flex-wrap: wrap;
	width: 150px;
}
form button[submit]{
	text-align: center;
}
footer {
	text-align: center;
	font-size; 10px;
}
.skills {
	font-weight: bold;
	color: darkblue;
}
#BLUF {
	font-size: 20px;
	padding: 5px;
	color: #3344FF;
	width: 750px;
}
#reqInfo {
	margin-left: 160px;
}
