* {
	background-color: lightgray;	
}
h1 {
	text-align: center;
	font-size: 40px;
	color: teal;
	padding: 10px;
	border: solid black;
}
h2 {
	margin-left: 150px;
	font-size: 32px;
	color: darkgreen;
}
nav {
	text-align: right;
	margin-right: 20px;
}
#dateToday {
	padding: 10px;
	font-size: 22px;
	text-shadow: 4px 4px 4px darkgreen, -1px -1px 4px darkgreen;
	font-weight: bold;
}
#jobSites {
	list-style: square;
}
nav h3 {
	font-size: 24px;
	margin-right: 75px;
	color: darkgreen;
}
mark {
	background-color: yellow;
	color: black;
}
nav>ul {
	display: flex;
	font-size: 22px;
	list-style-type:none;
	justify: center;
	float: right;
	padding-right: 35px;
	gap: 5px;
	border: dotted black;
}
table, tr, th, td {
	border: 1px solid blue;
}
table {
	margin-left: 25px;
}
#quals {
	display: flex;
	margin-left: 100px;
}
#csQuals {
}
#oQuals {
}
#closing {
	display: flex;
	width: 650px;
	flex-wrap: wrap;
	font-size: 20px;
	font-style: bold;
	font-style: italic;
	color: darkblue;
	margin-left: 50px;
	margin-top: 25px;
	font-family: georgia;
	border: solid 2px green;
}
#closing > p {
	padding: 15px;
	text-align: center;
}
.addr {
	display: flex;
	justify-content: center;
	width: 200px;
	border: solid black 1px;
	margin-left: 15px;
	font-family: 'Brush Script MT';
}
#fullName {
	text-align: left;
	margin-left: 25px;
	font-size: 22px;
	color: teal;
	font-style: italic;
}

form {
	display: flex;
	text-align: center;
	margin-left: 140px;
	justify-content: center;
	flex-wrap: wrap;
	width: 150px;
}
#submit{
	text-align: center;
	background-color: lightblue;

}
input:hover {
	cursor: pointer;
}
#submit:hover {
	background-color: blue;
	cursor: pointer;
}
footer {
	text-align: center;
	font-size; 10px;
}
#intro {
	display: flex;
	border: 1px green solid;
	width: 900px;
	padding: 5px;
	box-shadow: 2px 2px 5px darkgreen;
}
.skills {
	font-weight: bold;
	color: darkblue;
}
#BLUF {
	font-size: 20px;
	padding: 5px;
	color: #3344FF;
	width: 750px;
}
#reqInfo {
	margin-left: 160px;
}
audio {
	position: fixed;
	top: 0;
	right: 0;
}
img {
	display: block;
	margin: auto;
}
